.details{
    background-color: $green-light;
    padding: 1.25rem 2.125rem; //20px 34px
}

.select{
  &__one{
    width: 450px;
  }
}

.select{
  &__two{
    width: 430px;
  }
}

.position{
  bottom: 540px;
  position: relative;
  right: -449px;
}

.name{
  &__hotel-one{

    z-index: 1;
        bottom: 550px;
  }
}


@media (max-width: 800px){

  .select{
    &__one{
      width: 260px;
    }
  }

  .select{
    &__two{
      width: 240px;
    }
  }

  .position{
    bottom: 250px;
    right: -260px;
  }
}
